{% extends "base.html" %}
{% block title %} HomePage {% endblock %}
{% block content %}
 <!-- Navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Mount Kenya University</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#get-started">Get Started</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Welcome to Mount Kenya university</h1>
        <p>MKU is highly ranked in East Africa and beyond</p>
        <a href="#get-started" class="btn btn-primary">Get Started</a>
    </div>
</section>

<!-- About Section -->
<section id="about" class="container mt-5">
    <h2>About Us</h2>
    <p>- Mount Kenya University has dedicated faculty to train you ready for the industrial and self employment job market</p>
    <p>- College of Graduate Studies and Research is waiting to support you in your post graduate studies, research and innovation world</p>
    <p>- We are dedicated to molding your lifestyle outside classroom with our ranging sporting and unwinding activities at the campuses.</p>
    <p>- Mount Kenya University is a top destination for international students studying either on campus or online.</p>
    <p>- We belief is supporting the community which we thrive in through various community social responsibilities programs</p>
    <p>- We have streamlined programs to support our alumni in their jobs and to enhance employability</p>
</section>

<!-- Get Started Section -->
<section id="get-started" class="container mt-5">
    <h2>Get Started</h2>
    <p>JOIN US TODAY AND UNLOCK YOUR INFINITE CAREER POSSIBILITIES!</p>
    <a href="{{ url_for('main.getStarted') }}" class="btn btn-primary">Get Started</a>
</section>

<!-- Footer -->
<footer class="footer mt-5">
    <div class="container">
        <p>&copy; 2024 Mount kenya university. All rights reserved.</p>
    </div>
</footer>
{% endblock %}
